{% extends 'e.layout.twig' %}

{% block content %}
  <h1 style="margin-top: 20px; margin-bottom: 20px;">Pages</h1>
  <table class="table">
    <thead>
      <tr>
        <td>Identication</td>
        <td>Name</td>
        <td>Permalink</td>
        <td>Created</td>
        <td>Updated</td>
      </tr>
    </thead>
    <tbody>
      {% for item in pages %}
        <tr>
          <td>{{ item.id }}</td>
          <td><a href="/pages/{{ item.id }}">{{ item.name }}</a></td>
          <td>{{ item.permalink }}</td>
          <td>{{ item.created_at | date('F d, Y h:iA') }}</td>
          <td>{{ item.updated_at ? item.updated_at | date('F d, Y h:iA') : null }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}