{% extends 'e.layout.twig' %}

{% block content %}
  <h1 style="margin-top: 20px; margin-bottom: 20px;">Page Details</h1>
  <form id="form" action="{{ item.filename ? '/pages/' ~ item.id : '/pages' }}" method="POST">
    <input type="hidden" name="filename" value="{{ item.filename }}">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="name" class="col-form-label">Name</label>
          <input type="text" name="name" class="form-control" id="name" value="{{ item.name }}" required>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="permalink" class="col-form-label">Permalink (Slug)</label>
          <input type="text" name="permalink" class="form-control" value="{{ item.permalink }}" id="permalink">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="permalink" class="col-form-label">Layout</label>
          <select name="layout" class="form-control">
            {% for index, plate in plates %}
              <option value="{{ index }}" {{ index is same as(item.layout) ? 'selected' : '' }}>{{ plate }}</option>  
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="title" class="col-form-label">Title</label>
          <input type="text" name="title" class="form-control" id="title" value="{{ item.title }}" required>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="description" class="col-form-label">Description</label>
          <input type="text" name="description" class="form-control" id="description" value="{{ item.description }}">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="tags" class="col-form-label">Tags</label>
          <input type="text" name="tags" class="form-control" id="tags" value="{{ item.tags }}" required>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="title" class="col-form-label">Content</label>
      <textarea name="content" id="content" cols="30" rows="10">{{ item.content }}</textarea>
    </div>
    <div class="form-group">
      <a class="btn btn-secondary" href="/">Cancel</a>
      <button type="submit" class="btn btn-primary">Save Changes</button>
    </div>
  </form>
{% endblock %}

{% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.AreYouSure/1.9.0/jquery.are-you-sure.min.js"></script>

  <script>
    var options = { element: $("#content")[0] };

    options.indentWithTabs = false;

    var editor = new SimpleMDE(options);

    $(function ()
    {
      $('#form').areYouSure();
    });
  </script>
{% endblock %}