{% extends 'e.layout.twig' %}

{% block title %} Pages {% endblock %}

{% block content %}
  <h2 style="margin-bottom: 2rem;">Pages</h2>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Permalink</th>
          <th>Category</th>
          <th>Updated</th>
        </tr>
      </thead>
      <tbody>
        {% for item in pages %}
          <tr>
            <td class="text-truncate"><a href="/pages/{{ item.id }}">{{ item.title }}</a></td>
            <td class="text-truncate">{{ item.permalink }}</td>
            <td class="text-truncate">{{ item.category | capitalize }}</td>
            {% if item.updated_at %}
              <td class="text-truncate">{{ item.updated_at | date('F d, Y h:iA') }}</td>
            {% else %}
              <td class="text-truncate">{{ item.created_at | date('F d, Y h:iA') }}</td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}